<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tenriver.kpop">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon__round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kpop">
        <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>


        <activity android:name="com.tenriver.kpop.QuizChallenge"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"
            />
        <activity android:name="com.tenriver.kpop.QuizMain"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"
            />
        <activity android:name="com.tenriver.kpop.DifficultyActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.tenriver.kpop.YearActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.tenriver.kpop.MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.tenriver.kpop.TitleActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.tenriver.kpop.TipsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.tenriver.kpop.WarningActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.tenriver.kpop.ModeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tenriver.kpop.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>



    </application>

</manifest>